.style{
    border: 0px solid none;
    border-radius: 5%;
}

.img-hover{
    overflow: hidden;
}
.img-hover img{
   transition:all 1.5s ease;
}
.img-hover:hover img{
   transform: scale(1.3);
}

.product-style card{
    transition: all 1.5s ease;
}
.product-style:hover card{
    transform: scale(1.3);
}